  /* Desktop (1024px and above) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin: 10px 0 0;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav ul li {
    list-style-type: none;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  main {
    flex: 1;
  }
  
  #about, #goals, #links {
    padding: 20px;
  }
  
  #about h2, #goals h2, #links h2 {
    color: #4CAF50;
  }
  #connectWithMe{
    color: #4CAF50;
    font-weight: bold;
  }
  
  #goals ul {
    list-style-type: none;
    padding: 0;
  }
  
  #goals li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #links ul {
    list-style-type: none;
    padding: 0;
  }
  
  #links li {
    margin: 10px 0;
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    width: 100%;
    bottom: 0;
  }
  #about li{
  background: rgb(240, 240, 240);
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  color: #333;
  }
  strong {
    color: #333;
  }

  p{
    line-height: 2;
  }
  /* Mobile phones (up to 480px) */
  @media (max-width: 480px) {
    header {
      padding: 10px;
    }
  
    header h1 {
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
  
    header p {
      font-size: 16px;
    }
  
    #about, #goals, #links {
      padding: 15px;
    }
  
    #goals li, #links li {
      font-size: 14px;
    }
  
    footer {
      font-size: 12px;
      padding: 5px;
    }
  }
  
  /* Tablets (481px to 1024px) */
  @media (min-width: 481px) and (max-width: 1024px) {
    header {
      padding: 20px;
    }
  
    header h1 {
      font-size: 28px;
    }
  
    header p {
      font-size: 18px;
    }
  
    #about, #goals, #links {
      padding: 20px;
    }
  
    #goals li, #links li {
      font-size: 16px;
    }
  
    footer {
      font-size: 14px;
      padding: 10px;
    }
  }
  